﻿@namespace BlazorWebAssemblyPortfolio.Shared.Experience

<MudTimelineItem Size="Size.Medium">
    @*<ItemOpposite>
        <MudText>@Date</MudText>
    </ItemOpposite>*@
    <ItemContent >
        <MudPaper Elevation="0" Class="pr-4 mud-theme-primary">
            <MudText Typo="Typo.h6" GutterBottom="true">@Heading</MudText>
            <MudText Typo="Typo.subtitle1" GutterBottom="true">@Date</MudText>
            <MudText Typo="Typo.subtitle2" GutterBottom="true">@Subheading</MudText>
            <MudText Typo="Typo.body1">@((MarkupString)Body)</MudText>
            @foreach (var chip in Attributes)
            {
                <MudChip Class="">
                    @chip
                </MudChip>
            }
        </MudPaper>
    </ItemContent>
</MudTimelineItem>

@code{
    [Parameter]
    public string Heading { get; set; } = "";

    [Parameter]
    public string Subheading { get; set; } = "";

    [Parameter]
    public string Body { get; set; } = "";

    [Parameter]
    public string Date { get; set; } = "";

    [Parameter]
    public List<String> Attributes { get; set; } = new();
}

