﻿@namespace BlazorWebAssemblyPortfolio.Shared.Experience
<MudTimeline TimelineAlign="TimelineAlign.Default" TimelinePosition="TimelinePosition.Start" id="experience">
    @foreach (var item in config.Items)
    {
        <ExperienceItem Body="@item.Description"
                        Date="@item.Date"
                        Heading="@item.Company"
                        Subheading="@item.Role"
                        Attributes="@item.Skills">
        </ExperienceItem>
    }
</MudTimeline>
@*<MudButton>View Full Resume</MudButton>*@

