﻿@namespace BlazorWebAssemblyPortfolio.Shared.Projects


@foreach (var item in config.Items)
{
    <MudCard Class="mud-theme-primary" Outlined="true">
        <MudCardContent Class="mud-theme-primary">
            <MudStack  Row="true" Spacing="0">
                <MudImage Width="200" ObjectFit="ObjectFit.Contain" Src="@item.imagePath" Alt="Image of Project"></MudImage>
                <MudContainer>

                    <MudLink Href="@item.url" Typo="Typo.h6" Underline="Underline.Always" Class="mud-theme-primary"> @item.Title</MudLink>
                    <MudText Typo="Typo.subtitle1">@item.Subtitle</MudText>
                    <MudText Typo="Typo.body2">@((MarkupString)item.Description)</MudText>
                    <div>
                        @foreach (var chip in item.Skills)
                        {
                            <MudChip>
                                @chip
                            </MudChip>
                        }
                    </div>
                </MudContainer>
            </MudStack>
        </MudCardContent>
    </MudCard>

}
<MudButton Href="https://gitlab.com/Blobbyguy" Target="_blank">View Full Gitlab</MudButton>



