﻿<MudStack>
    <MudText Typo="Typo.h3">
        Sam Gillard
    </MudText>
    <MudText Typo="Typo.h4">
        Software Engineer
    </MudText>
    <MudText Typo="Typo.h6">
        A passionate, quick learner, with a broad skillset in computer science.
    </MudText>
</MudStack>
