﻿@inject IJSRuntime javaScript;
<MudStack>
    <MudButton OnClick="ScrollToAbout">About</MudButton>
    <MudButton OnClick="ScrollToExperience">experience</MudButton>
    <MudButton OnClick="ScrollToProjects">projects</MudButton>
</MudStack>

@code{
    //Required due to blazor and javascript not working together correctly with anchors.
    private void ScrollToAbout()
    {
        javaScript.InvokeAsync<string>("scrollToAbout");
    }
    private void ScrollToProjects()
    {
        javaScript.InvokeAsync<string>("scrollToProjects");
    }
    private void ScrollToExperience()
    {
        javaScript.InvokeAsync<string>("scrollToExperience");
    }
}