﻿.landingHeading {
	font-size: 12rem;
}

@keyframes fadeIn{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}

.unselectable {
	user-select: none;
}

.fadeIn{
	opacity: 0%;
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-fill-mode:forwards;
}