﻿@inherits LayoutComponentBase

<MudThemeProvider Theme="_theme" />
@*<MudDialogProvider />*@
@*<MudSnackbarProvider />*@

<MudLayout>
    <MudMainContent Style="padding: 0px;">
        @Body
    </MudMainContent>
</MudLayout>

@code{
    //https://mudblazor.com/customization/default-theme#palette
    private MudTheme _theme = new()
    {
        Palette = new PaletteLight()
        {
            Primary = "#282828",
            Background = "#16161D",
            //Background = Colors.Shades.Transparent,
            TextPrimary = Colors.Shades.White
        },

        //PaletteDark = new PaletteDark()
        //{

        //}
    };

    private bool _isDarkMode = false;
}

